body { margin:0;}
.main{
    min-height: calc(100vh - 65px);
    max-height: calc(100vh - 65px);
}

.divTables{
    height: 40%;
    margin-bottom: 20px;
}

table{
    border: none !important;

}

textarea{
    width: 100%;
}

h6{
    font-size: 1.2rem;
    border: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

svg{
    width: 100%;
    height: 100%;
}

.instrucaoAtiva{
    background-color: #abd2ab !important;
}


#tituloTabela2{
    width: 90%;
}

.input-group-text {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

